<h1>정택의 게시판</h1>
<hr>

<form action="/new" method="GET">
    <button href="/new">New</button>
</form>
        
<h3>게시글</h3>
<br>
<% @data_text.each do |x| %>
    제목    :<a href="/show/<%= x.id %>"><%= x.title %></a>
    작성자  :<%= x.editor %><br><hr>
<% end %>

