<div class="col-4" style="margin-top:200px; margin-bottom:200px;">
  <center><h1>Map 회원가입이 완료되었습니다! 가입해주셔서 감사합니다.</h1></center>
  <center><a href="/"><button type="submit" class="btn btn-primary" style="margin-top:80px; margin-bottom:100px;">메인페이지로 이동</button></a></center>
</div>
    
