<form>
    제목       : <input type="text" name="inputTitle" value="<%= @data_show.title %>"><br><br>
    작성자     : <input type="text" name="inputEditor" value="<%= @data_show.editor %>"><br><br>
    내용       : <input type="text" name="inputContent" value="<%= @data_show.content %>"><br><br>
</form>
