<h1 style="text-align: center">신이 나를 만들때</h1>

<hr>

<p style="test-align: center font-size: 20px">신이 <%= @Nameresult %>을(를) 만들 때의 결과 입니다!</p>

<%= image_tag @ImgPick[0] %>

<form action="/index" method='GET'>
    <button style="width: 20px  height: 20px">다시하기</button>
</form>

<hr>

<h3>Designed by HJT in Kookmin University</h3>
