<h1>Home#home_login</h1>
<p>Find me in app/views/home/home_login.html.erb</p>


<a href="/mylist">mylist</a>
<a href="/myprofile">myprofile</a>
<a href="/post_show">post_show</a>
<a href="/post_update">post_update</a>
<a href="/write">write</a>