<h1>Home#home_login</h1>
<p>Find me in app/views/home/home_login.html.erb</p>


<a href="/users/sign_in">로그인</a><br>
<a href="/mylist">mylist</a><br>
<a href="/myprofile">myprofile</a><br>
<a href="/post_show">post_show</a><br>
<a href="/post_update">post_update</a><br>
<a href="/write">write</a>