<h1 style="text-align: center;">신이 나를 만들때</h1>

<hr>

<img src="http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65"/>

<form action="/gotmk" method='POST'>
    
    <h2>이름을 입력하세요!</h2>
    <input name="inputName" type="text" placeholder="이름">
    
    <h2>제출하기</h2>
    <input type="submit">
    
</form>

<hr>

<h3>Designed by HJT in Kookmin University</h3>