<div class="banner">
    <div>
        banner text
    </div>
</div>

<div class ="post_disp"> <!--post display 게시물이 로드되는 부분입니다.-->
    <!--each do 문을 사용해 전체 포스트를 불러옵니다-->
    <div class="post_box">
    <% @posts.each do |p| %>
        <div><!--포스트 제목-->
            <a href="#"><span class="ptitle"><%= p.post_title %></span></a><br>
            <span><%= p.created_at.strftime("%Y-%m-%d") %> | <%= p.post_editor%></span>
        <div class ="img_box"> <a href="#">image</a></div>
        <div class ="content_box">
            <%= p.post_content%>
            <a href="#"><span>>>>자세히 보기</span></a>    
        </div>
        <div class ="button"></div>
        <hr>
    <% end %>
    </div>
</div>
