<h1>랜덤 피드 페이지 입니다.</h1>

<% @random_posts.each do |random| %>
    <p>
        게시글 번호 : <%= random.id %>
        제목 : <%= random.title %>
        작성자 : <%= random.editor %>
        
    </p>
<% end %>

<%= link_to '[뒤로 가기]', :back %> 