<!--포스트 제목 불러오기-->
<div class="container">
    <font size="<% @post.grade %>">
        이름 : <%= @post.title %> <br>
    </font>
    점수 : <%= @post.grade %> <br>
</div>
<!--포스트 점수-->
<!--포스트 점수에따라서 제목 글씨크기-->
