<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="timeline.css"/>
    </head>
    
    <body>
        <div class="a"></div>
        <div class="timeline">
            <ul>
                <li>
                    <span></span>
                    <div class="post_pic">picture box</div>
                    <div class="post_pic">picture box</div>
                    <div class="post_pic">picture box</div>
                    <div class="post_pic">picture box</div>
                    <div class="month">
                        <span>Jan</span>
                    </div>

                </li>
                <li>
                    <span></span>
                    <div class="post_pic">picture box</div>
                    <div class="month">
                        <span>Feb</span>
                    </div>
                </li>
                <li>
                    <span></span>
                    <div class="post_pic">picture box</div>
                    <div class="month">
                        <span>Mar</span>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
