<h1>질문게시판</h1>

<hr>

<h3>작성</h3>

<form action="/create" method="POST">
    
    이름 : <input type="text" name="input_name" value="누구일까욥?">
    <br><br>
    내용 : <input type="text" name="input_contents" placeholder="뭐가 중금해요?">
    <input type="submit" value="물어보기!">
    
</form>