// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
    color: black;
}
a:hover{
    color: grey;
}

.bg-faded{
    background-color: transparent;
}

header .nav-wrapper{
    border-bottom: 0.3px solid white;
}

body {
    background-color: #f7f7f7;
}

.widget_profile_section {
    background-color: #ffffff;
}

.post_section {
    background-color: #ffffff;
}

.widget_profile_image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 200px;
}

.widget_profile_name {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

.widget_profile_bitrhday {
    font-size: 15px;
    color: #5b9bd1;
    text-align: center;
}

.widget_profile_button {
    margin-top: 5px;
    text-align: center;
}

.goal_graph {
    margin-top: 5px;    

}

//profile feed 크기
.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  //max-height: 100%;
  width: 400px;
  height: 300px;
}

//profile feed 이미지 cover
.feed-img{
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

//tab에서 탭을 바꿀 경우 화면이 올라가는 오류 때문에 넣음
.myprofile-section {
  width: auto;
  height: 1000px;
}

//my feed에서 프로필 이미지를 특정 위치에 고정하기 위해서
.profile_user_tag {
    display: inline-block; /* 한 줄로 만들기 */
    vertical-align: middle;
    
}

.profile_img_tag {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}

.profile_user {
    position: absolute;
    bottom: 70px;
}

.write_day {
  position: absolute;
  bottom: 75px;
  right: 25px;
}

.body .intro-text .intro-name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.body .intro-text .intro {
  font-size: 1.25em;
  font-weight: 300;
}

/* 프로필 이미지 사이즈 조정 */
.side-nav .user-view .circle {
    width: 85px;
    height: 85px;
}

/* side-nav의 프로필 사진을 가운데로 조정 */
.side-nav .user-view img {
    margin: auto;
}

/* 수정하기 버튼 padding 제거 */
.side-nav .user-view > a {
    padding-left: 20px;
    padding-right: 20px;
}

.bubble {
    position: relative;
    width: 200px;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    background: #1de9b6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 150%;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 18px 10px;
    border-color: #1de9b6 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 82px;
}

.section {
  
}

.section-parallax {
  padding: 0;
}

.spacing {
    margin-top: 100px;
}

/* masonry */
// Media Query Ranges
// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;

// $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
// $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
// $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
// $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
// $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// @mixin column-count($ct) {
//   -webkit-column-count: $ct;
//   -moz-column-count: $ct;
//   column-count: $ct;
// }

// .cards-container {
//   column-break-inside: avoid;
//   .card {
//     display: inline-block;
//     overflow: visible;
//   }
// }

// @media #{$small-and-down} {
//   .cards-container {
//     @include column-count(1);
//   }
// }
// @media #{$medium-and-up} {
//   .cards-container {
//     @include column-count(2);
//   }
// }
// @media #{$large-and-up} {
//   .cards-container {
//     @include column-count(3);
//   }
// }


/// Styles for demo
.text-center {
  text-align: center;
}

.bold {
     font-weight: bold;
}

// hover 마우스 손모양으로 바뀜

.hover_cursor {
    cursor: pointer;
}

// !! side-nav에서 사용됨

//그래프와 리스트를 한 줄에 두기 위해
.goal-section {
  float: none; /* float 제거 */
  display: inline-block; /* 한 줄로 만들기 */
  text-align: initial; /* text-align을 초기화 */
}

//완료 했을때 표현 해주는 방식
.cancel-line {
  text-decoration:line-through;
}

//줄 간격 & 길이가 길면 ...표시
.goal-list li {
  line-height: 30px;
  
  display: block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// !! side-nav에서 사용됨