// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-faded{
    background-color: transparent;
}

.container { //모바일에서 차이가 큼
    padding-left: 0;
    padding-right: 0;
}

body {
    background-color: #f7f7f7;
}

.profile_section {
    background-color: #ffffff;
}

.post_section {
    background-color: #ffffff;
}

.profile_image {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 200px;
}

.profile_name {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

.profile_bitrhday {
    font-size: 15px;
    color: #5b9bd1;
    text-align: center;
}

.profile_button {
    margin-top: 5px;
    text-align: center;
}

.goal_graph {
    margin-top: 5px;    
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
// mylist 시작

.btn_mylist_complete .btn{
    background-color: white;
    border-color: #cecece;
}
.btn_mylist_complete .btn.btn-primary.active {
    background-color: white;
    border-color: black;
}

.btn_mylist_complete .btn.btn-primary{
    color: black;
}


// test
.after{
    display:none;
}

.myplan_list{
    display:none;
}
