<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="profile_sec">
  <div class="profile_pic"></div>
  <div class="profile_text"></div>
  <div class="list_min"></div>
</div>
<div class="nav_bar">
  
</div>

<%= yield %>

</body>
</html>
